In [22]:
import pandas as pd
df = pd.read_csv("customerData.csv")

In [23]:
#question 1
print(df.tail(15))

   CustomerId   Surname Geography  Gender  Age  Balance  Tenure  \
0    15634602  Hargrave    France  Female   42     8000       2
1    15647311      Hill     Spain    Male   41    12000       1
2    15619304      Onio    France  Female   42     9500       8
3    15701354      Boni    France    Male   39    10000       1
4    15737888  Mitchell     Spain  Female   43     8700       2
5    15574012       Chu    France    Male   44     6500       8
6    15592531  Bartlett   Germany  Female   50     9800       7
7    15656148    Obinna   Germany    Male   29     7200       4
8    15792365        He    France  Female   44     8800       6
9    15592389        H?     Spain  Female   27    10000       3

   NumOfProducts  HasCrCard  isActiveMember  EstimatedSalary
0              1          1               1        101348.88
1              1          0               1        112542.58
2              2          1               0        113931.57
3              2          1               1         93826.63
4              1          0               0         79084.10
5              1          1               1        149756.71
6              2          1               0         10062.80
7              2          0               1        119346.88
8              1          1               1         74940.50
9              1          1               0         71725.73

In [4]:
# question 2
print(df.columns)

Index(['CustomerId', 'Surname', 'Geography', 'Gender', 'Age', 'Balance',
       'Tenure', 'NumOfProducts', 'HasCrCard', 'isActiveMember',
       'EstimatedSalary'],
      dtype='object')

In [24]:
# question 3
df.drop('Surname', axis =1)

,CustomerId,Geography,Gender,Age,Balance,Tenure,NumOfProducts,HasCrCard,isActiveMember,EstimatedSalary
0,15634602,France,Female,42,8000,2,1,1,1,101348.88
1,15647311,Spain,Male,41,12000,1,1,0,1,112542.58
2,15619304,France,Female,42,9500,8,2,1,0,113931.57
3,15701354,France,Male,39,10000,1,2,1,1,93826.63
4,15737888,Spain,Female,43,8700,2,1,0,0,79084.10
5,15574012,France,Male,44,6500,8,1,1,1,149756.71
6,15592531,Germany,Female,50,9800,7,2,1,0,10062.80
7,15656148,Germany,Male,29,7200,4,2,0,1,119346.88
8,15792365,France,Female,44,8800,6,1,1,1,74940.50
9,15592389,Spain,Female,27,10000,3,1,1,0,71725.73

In [12]:
#question 4
new_df = df[['Age','Gender','Balance']]
print(new_df)

   Age  Gender  Balance
0   42  Female     8000
1   41    Male    12000
2   42  Female     9500
3   39    Male    10000
4   43  Female     8700
5   44    Male     6500
6   50  Female     9800
7   29    Male     7200
8   44  Female     8800
9   27  Female    10000

In [15]:
#question 5
missing_values_count = df.isnull().sum()
print(missing_values_count)

CustomerId         0
Geography          0
Gender             0
Age                0
Balance            0
Tenure             0
NumOfProducts      0
HasCrCard          0
isActiveMember     0
EstimatedSalary    0
dtype: int64

In [16]:
#question 6
filtered_row = df[(df['Balance'] >= 8000) &  (df['Balance']< 10000)]
print(filtered_row)

   CustomerId Geography  Gender  Age  Balance  Tenure  NumOfProducts  \
0    15634602    France  Female   42     8000       2              1
2    15619304    France  Female   42     9500       8              2
4    15737888     Spain  Female   43     8700       2              1
6    15592531   Germany  Female   50     9800       7              2
8    15792365    France  Female   44     8800       6              1

   HasCrCard  isActiveMember  EstimatedSalary
0          1               1        101348.88
2          1               0        113931.57
4          0               0         79084.10
6          1               0         10062.80
8          1               1         74940.50

In [17]:
# question 7
geography_counts = df['Geography'].value_counts()
print(geography_counts)

Geography
France     5
Spain      3
Germany    2
Name: count, dtype: int64

In [18]:
# question 8
print(df.describe())

         CustomerId        Age       Balance     Tenure  NumOfProducts  \
count  1.000000e+01  10.000000     10.000000  10.000000      10.000000
mean   1.565479e+07  40.100000   9050.000000   4.200000       1.400000
std    6.993657e+04   6.999206   1580.611696   2.820559       0.516398
min    1.557401e+07  27.000000   6500.000000   1.000000       1.000000
25%    1.559922e+07  39.500000   8175.000000   2.000000       1.000000
50%    1.564096e+07  42.000000   9150.000000   3.500000       1.000000
75%    1.569005e+07  43.750000   9950.000000   6.750000       2.000000
max    1.579236e+07  50.000000  12000.000000   8.000000       2.000000

       HasCrCard  isActiveMember  EstimatedSalary
count  10.000000       10.000000        10.000000
mean    0.700000        0.600000     92656.638000
std     0.483046        0.516398     37499.192483
min     0.000000        0.000000     10062.800000
25%     0.250000        0.000000     75976.400000
50%     1.000000        1.000000     97587.755000
75%     1.000000        1.000000    113584.322500
max     1.000000        1.000000    149756.710000

In [19]:
# question 9
for i in range(1,11):
    print(i*8)

8
16
24
32
40
48
56
64
72
80