In [2]:
import pandas as pd
stMarks = pd.read_csv('studentData.csv')
print(stMarks)

    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0      1       smit joshi          500             440         NaN    NaN
1      2      Tejasv modi          501             390         NaN    NaN
2      3  Shreya Acharaya          502             400         NaN    NaN
3      4             Uzma          503             400         NaN    NaN
4      5             Diya          504             360         NaN    NaN
5      6       smit joshi          500             440         NaN    NaN
6      7      Tejasv modi          501             390         NaN    NaN
7      8  Shreya Acharaya          502             400         NaN    NaN
8      9             Uzma          503             400         NaN    NaN
9     10             Diya          504             360         NaN    NaN
10    11       smit joshi          500             440         NaN    NaN
11    12      Tejasv modi          501             390         NaN    NaN
12    13  Shreya Acharaya          502             400         NaN    NaN
13    14             Uzma          503             400         NaN    NaN
14    15             Diya          504             360         NaN    NaN

In [4]:
# column value get
new_std = stMarks.dropna()
print(new_std)

Empty DataFrame
Columns: [srNo, Name, Total Marks, Obtained marks, Percentage, Grade]
Index: []

In [5]:
# nun value replace with particular value
fill_std = stMarks.fillna(111)
print(fill_std)

    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0      1       smit joshi          500             440       111.0  111.0
1      2      Tejasv modi          501             390       111.0  111.0
2      3  Shreya Acharaya          502             400       111.0  111.0
3      4             Uzma          503             400       111.0  111.0
4      5             Diya          504             360       111.0  111.0
5      6       smit joshi          500             440       111.0  111.0
6      7      Tejasv modi          501             390       111.0  111.0
7      8  Shreya Acharaya          502             400       111.0  111.0
8      9             Uzma          503             400       111.0  111.0
9     10             Diya          504             360       111.0  111.0
10    11       smit joshi          500             440       111.0  111.0
11    12      Tejasv modi          501             390       111.0  111.0
12    13  Shreya Acharaya          502             400       111.0  111.0
13    14             Uzma          503             400       111.0  111.0
14    15             Diya          504             360       111.0  111.0

In [32]:
#total marks
std1 = stMarks["Total Marks"].fillna(500)
#print(std1)
stMarks["Total Marks"].fillna(555,inplace = True)
print(stMarks)

    srNo             Name  Total Marks  Obtained marks  Percentage Grade  \
0      1       smit joshi          500             440   88.000000     A
1      2      Tejasv modi          501             390   77.844311     B
2      3  Shreya Acharaya          502             400   79.681275     B
3      4             Uzma          503             400   79.522863     B
4      5             Diya          504             360   71.428571     B
5      6       smit joshi          500             440   88.000000     A
6      7      Tejasv modi          501             390   77.844311     B
7      8  Shreya Acharaya          502             400   79.681275     B
8      9             Uzma          503             400   79.522863     B
9     10             Diya          504             360   71.428571     B
10    11       smit joshi          500             440   88.000000     A
11    12      Tejasv modi          501             390   77.844311     B
12    13  Shreya Acharaya          502             400   79.681275     B
13    14             Uzma          503             400   79.522863     B
14    15             Diya          504             360   71.428571     B

   Grade1
0       A
1       B
2       B
3       B
4       B
5       A
6       B
7       B
8       B
9       B
10      A
11      B
12      B
13      B
14      B

/tmp/ipykernel_4228/825535822.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stMarks["Total Marks"].fillna(555,inplace = True)

In [7]:
#mean,medium,mode
mean = stMarks["Obtained marks"].mean()
print(mean)
median = stMarks["Obtained marks"].median()
print(median)
mode = stMarks["Obtained marks"].mode()
print(mode)

398.0
400.0
0    400
Name: Obtained marks, dtype: int64

In [10]:
# column display
stMarks.columns

Index(['srNo', 'Name', 'Total Marks', 'Obtained marks', 'Percentage', 'Grade'], dtype='object')

In [28]:
# only 4 colum display location
print(stMarks.loc[0:4])

   srNo             Name  Total Marks  Obtained marks  Percentage Grade Grade1
0     1       smit joshi          500             440   88.000000     A      A
1     2      Tejasv modi          501             390   77.844311     B      B
2     3  Shreya Acharaya          502             400   79.681275     B      B
3     4             Uzma          503             400   79.522863     B      B
4     5             Diya          504             360   71.428571     B      B

In [13]:
stMarks.sort_values(["Obtained marks"],ascending = 0)

    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0      1       smit joshi          500             440         NaN    NaN
5      6       smit joshi          500             440         NaN    NaN
10    11       smit joshi          500             440         NaN    NaN
2      3  Shreya Acharaya          502             400         NaN    NaN
3      4             Uzma          503             400         NaN    NaN
7      8  Shreya Acharaya          502             400         NaN    NaN
8      9             Uzma          503             400         NaN    NaN
12    13  Shreya Acharaya          502             400         NaN    NaN
13    14             Uzma          503             400         NaN    NaN
1      2      Tejasv modi          501             390         NaN    NaN
6      7      Tejasv modi          501             390         NaN    NaN
11    12      Tejasv modi          501             390         NaN    NaN
4      5             Diya          504             360         NaN    NaN
9     10             Diya          504             360         NaN    NaN
14    15             Diya          504             360         NaN    NaN

In [19]:
# Calculate the percentage
stMarks['Percentage'] = (stMarks['Obtained marks'] / stMarks['Total Marks']) * 100
print(stMarks)

    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0      1       smit joshi          500             440   88.000000    NaN
1      2      Tejasv modi          501             390   77.844311    NaN
2      3  Shreya Acharaya          502             400   79.681275    NaN
3      4             Uzma          503             400   79.522863    NaN
4      5             Diya          504             360   71.428571    NaN
5      6       smit joshi          500             440   88.000000    NaN
6      7      Tejasv modi          501             390   77.844311    NaN
7      8  Shreya Acharaya          502             400   79.681275    NaN
8      9             Uzma          503             400   79.522863    NaN
9     10             Diya          504             360   71.428571    NaN
10    11       smit joshi          500             440   88.000000    NaN
11    12      Tejasv modi          501             390   77.844311    NaN
12    13  Shreya Acharaya          502             400   79.681275    NaN
13    14             Uzma          503             400   79.522863    NaN
14    15             Diya          504             360   71.428571    NaN

In [27]:
# Step 3: Apply the function to create a 'Grade' column
stMarks['Grade'] = stMarks['Percentage'].apply(
    lambda p: "A" if 80 <= p <= 100 else
              "B" if 60 <= p <= 80 else
              "C" if 40 <= p <= 60 else
              "D"
)

# Print the result
print(stMarks.head(5))

   srNo             Name  Total Marks  Obtained marks  Percentage Grade Grade1
0     1       smit joshi          500             440   88.000000     A      A
1     2      Tejasv modi          501             390   77.844311     B      B
2     3  Shreya Acharaya          502             400   79.681275     B      B
3     4             Uzma          503             400   79.522863     B      B
4     5             Diya          504             360   71.428571     B      B