In [2]:
import pandas as pd
db = {'student':['abc','def','ghi'], 'admission':[2023,2022,2021]}
dataframe = pd.DataFrame(db)
print(dataframe)

  student  admission
0     abc       2023
1     def       2022
2     ghi       2021

In [3]:
print(pd.__version__)

2.3.1

In [4]:
a = [10,20,30,40,50]
demo = pd.Series(a)
print(demo)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
demo2 = pd.Series(a,index = {'j1','j2','j3','j4','j5'})
print(demo2)

j1    10
j2    20
j4    30
j3    40
j5    50
dtype: int64

In [8]:
print(demo2['j3'])

40

In [14]:
a = [250,450,650]
demo3 = pd.Series(a,index = {'abc','def','sdf'})
print(demo3)

def    250
abc    450
sdf    650
dtype: int64

In [16]:
marks = {'abc':250,'def':450,'sdf':650}
s1 = pd.Series(marks)
print(s1)

abc    250
def    450
sdf    650
dtype: int64

In [18]:
db = {'Product':['T-shirt','Pent','shirt','cap','shoes'], 'Price':[4000,2000,5000,500,5000],'QTY':[1,2,1,2,3]}
dataframe = pd.DataFrame(db)
print(dataframe)

   Product  Price  QTY
0  T-shirt   4000    1
1     Pent   2000    2
2    shirt   5000    1
3      cap    500    2
4    shoes   5000    3

In [23]:
print(dataframe.loc[3])

Product    cap
Price      500
QTY          2
Name: 3, dtype: object

In [30]:
StMarks = pd.read_csv('studentData.csv')
print(StMarks)

    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0      1       smit joshi          500             440         NaN    NaN
1      2      Tejasv modi          501             390         NaN    NaN
2      3  Shreya Acharaya          502             400         NaN    NaN
3      4             Uzma          503             400         NaN    NaN
4      5             Diya          504             360         NaN    NaN
5      6       smit joshi          500             440         NaN    NaN
6      7      Tejasv modi          501             390         NaN    NaN
7      8  Shreya Acharaya          502             400         NaN    NaN
8      9             Uzma          503             400         NaN    NaN
9     10             Diya          504             360         NaN    NaN
10    11       smit joshi          500             440         NaN    NaN
11    12      Tejasv modi          501             390         NaN    NaN
12    13  Shreya Acharaya          502             400         NaN    NaN
13    14             Uzma          503             400         NaN    NaN
14    15             Diya          504             360         NaN    NaN

In [31]:
print(StMarks.head())
print(StMarks.tail())

   srNo             Name  Total Marks  Obtained marks  Percentage  Grade
0     1       smit joshi          500             440         NaN    NaN
1     2      Tejasv modi          501             390         NaN    NaN
2     3  Shreya Acharaya          502             400         NaN    NaN
3     4             Uzma          503             400         NaN    NaN
4     5             Diya          504             360         NaN    NaN
    srNo             Name  Total Marks  Obtained marks  Percentage  Grade
10    11       smit joshi          500             440         NaN    NaN
11    12      Tejasv modi          501             390         NaN    NaN
12    13  Shreya Acharaya          502             400         NaN    NaN
13    14             Uzma          503             400         NaN    NaN
14    15             Diya          504             360         NaN    NaN

In [32]:
print(pd.options.display.max_rows)

60

In [38]:
pd.options.display.max_rows = 120
print(pd.options.display.max_rows)

120

In [39]:
print(StMarks.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   srNo            15 non-null     int64
 1   Name            15 non-null     object
 2   Total Marks     15 non-null     int64
 3   Obtained marks  15 non-null     int64
 4   Percentage      0 non-null      float64
 5   Grade           0 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 848.0+ bytes
None